/*0.5 */

body {
          background-color: #262626;
          font-family: Arial;
        }
        
        /* img {
          width:auto;
          height:auto
        } */

        header {
          font-family: Arial;
          background-color: #262626;
          padding: 10px;
          text-align: auto;
          font-size: 35px;
          color: white;
        }
        
        
        nav {
          float: auto;
          width: 30%;
          /* height: 300px; */
          padding: 20px; 
        }
        
        
        nav ul {
          list-style-type: none;
          padding: 0;
        }
        
        article {
          padding: 20px;
          /* width: 70%; */
          background-color: #ff0159;
          height: 300px; 
        }
        
        
        section:after {
          align-self: auto;
          text-align: auto;
          background-color: #262626;
          content: "";
          display: table;
          clear: both;
        } 
        
        
        footer {
          align-self: auto;
          background-color: #303030;
          padding: 10px;
          text-align: auto;
          color: white;
        }

        form {
          font-family: Arial
        }

        
        
        
        @media (max-width: 600px) {
          nav, article {
            width: 100%;
            height: auto;
          }
        }
