@font-face {
    font-family: 'Nunito';
    src: url(Nunito/Nunito-Regular.ttf);
}

* {
    font-family: 'Nunito';
    text-align: center;
}

a {
    color: #4C6C7C;
    border-radius: 15px;
    /* background: #000000; */
    text-decoration: none;
    padding: 8px;
    text-align: center;
    display: inline-block
}

body {
    background-color: black;
    background-image: url("../files/bgv5.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

div.cen {
    margin: auto;
    align-self: center;
    float: none;
    /*width: 50%;*/
    padding: 2%;

}
div.coll {
    float: left;
    width: 50%;
    padding: 2%;
}

div.colr {
    float: right;
    width: 50%;
    padding: 2%
}

h3.coll {
    align-self: center;
    color: #262A28;
}

h6 {
    /*align-self: center;*/
    color: #262A28;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}